@model BookStore.Models.BookGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Книги</h1>

<p>
    <a asp-action="Create">Создать новую запись</a>
</p>
<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">Все</option>
        </select>

        <label>Название: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Фильтр" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Дата публикации
            </th>
            <th>
                Жанр
            </th>
            <th>
                Цена
            </th>
            <th>
                ID заказа
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
