@model IEnumerable<BookStore.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Заказы</h1>

<p>
    <a asp-action="Create">Создать новый заказ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfBooks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfBooks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
